@import url(style.css);
@import "style";

.container--block--product {
    padding: 1rem;
    background-color: $tertiaire;
    .card img {
        height: 400px;
    }
}
#result {
    .btn {
        @include btn;
    }
}